/*#fd297e #fe94be #fac8dc
black #808080
#369aff #9accff
#00ff00

/* stylesheet ericschrijver.nl *//* stylesheet ericschrijver.nl */

@font-face {
  font-family: "CharterBT";
  src: url("CharisSILR_subs.ttf")
       format("TrueType");
  font-weight:  400;
  font-style:   regular;
  font-variant: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "CharterBT";
  src: url("CharisSILI_subs.ttf")
       format("TrueType");
  font-weight:  400;
  font-style:   italic;
  font-variant: normal;
  font-stretch: normal;
}

/*body elements*/

body {
	background-color:white;	 
	font-family: 'CharterBT', Georgia, serif;
	font-size: 8pt;
	font-weight: normal;
	margin:0em;
	color: black;
	overflow: auto;
	line-height: 140%;
    background-image: url(grijs_32_16.png);
/*    min-width:85em; */
    height:100%;
}


    

    
    body#inaudiblemmviii {
    font-family: futura, sans-serif;
    }
    
    body#home {
    }

table, tr, td {
    border-width: 0;
    border-spacing: 0;
    padding:0;
    margin:0;
}

div {
	margin:0em;
	padding:1em;
	border: 0em;
	display:block;
	position:absolute;
	vertical-align:top;
/*	outline: 1px #fac8dc solid; */
/*	background-image: url(fill_10.png); */
	z-index:100;
        /*   background-image: url(fill_90.png); */
        /* border: 1pt #fe94be dashed; */
            background-image:url(fill_50.png);
/*        outline: dashed #fe94be 1pt;*/
}



/*divs*/

div.imagetip, div.tip, div.tooltip {
    outline: inherit;
    padding: 0;
}

div.pagina {
	left:50%;
	top:2em;
    margin-top:10em;
	margin-left:-32em;
	padding:0em;
    outline:inherit;
    min-width:32em;
    background-image: none;
    background-color:transparent;
    z-index:200;
}

	#home .pagina {
    /*
		margin-left:-21em; */
        left: 2em;
        right:3em;
        margin-left:16em;
        margin-right:32em;
        top:2em;
/*        bottom:1em;
        height:100%; */
       background-image: url(fill_50.png);
/*        outline: dashed #fe94be 1pt;*/

	}

	#pourenfinir_pagina {
        left: 2em;
/*        right:2em;*/
        margin-left:16em;
/*        margin-right:16em;*/
        overflow:hidden;
	}

	#benevenweg_pagina {
		margin-left:-34em;
	}

	#countryoforigin_pagina {
		margin-left:-32em;
	}

	#home_pagina2 {
		margin-left:2em;
	}

	#about_pagina {
		margin-left:16em;
		left:1em;
        min-width:32em;
        width:48em;
	}

	#inaudible_pagina {
		margin-left:-16em;
	}
    
    #inaudiblemmviii_pagina {
	}
    
    #tekstenuitleg_pagina {
        margin-left:-25em;
    }
    
    #werktiteltekst_pagina {
        left:0;
        right:0;
        width:44em;
        margin-left:auto;
        margin-right:auto;
    }

.pagina div {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	position: static;
    background-color: transparent;
    outline: inherit;
    padding:2em;
    background-image: url(fill_50.png);
}

	#quejesois_pagina div
	{
		margin: 0;
		position: absolute;
	}

	#tekstenuitleg_pagina div
	{
		width:50em;
	}

	#pourenfinir_pagina div
	{
		width:76.8em;
	}

div.plattegrond {
	width:100%;
	height:100%;
	z-index:12;
}
/*
div.meta {
	position:fixed;
	display:block;
	left:0;
	top:5.5em;
	width:100%;
	padding-left:.7em;
	z-index:300;
} */  

div.navl {
	position:fixed;
    top:1em;
    left:1em;
    margin-top:10em;
    margin-left:0em;
    width:14em;
    height:18em;
	z-index:200;
}
	#home .navl {
/*		position: absolute;*/
        left:inherit;
        top: 1em;
        right:1em;
        margin-top:0em;
        width:33em;
        height:10em;
        padding:0em;
	}
    
table.navr {
	position:fixed;
	display:block;
	right:0em;
	top:0;
	z-index:300;
    border: 0;
    border-spacing: 0;
}

	table.navr div {
        position:static;
        width:6.5em;
        height:3em;
        border-left: 1pt #fe94be dashed;
        background-image: url(fill_90.png);
	}
    /*
        div.navr div div {
        background-image: url(fill_90.png);
        padding:1em;
        border: 1pt #fe94be dashed;
        }*/

        table.navr td {
            vertical-align:top;
        }

	#home .navr {
		top: 4%;
		right: 2%;
		height: inherit;
        padding: 0;
	}              

	#home #previouswork, #home #nextwork, #home #link_home, #home #link_about, #home_navr {
		display:none;
	}       

div.tooltip {
	width:16em;
	color: #808080;
	font-style: italic;
}

	div.tooltip div {
		width:100%;
	}   

div.imagetip {
	color:#fd297e;
	text-transform:uppercase;
}

	div.imagetip div {
		width:16em;
	}          

.tooltip .tip-text, .imagetip .tip-text {
	display:none;
}

.kenker, .kenker div {
    position:static;
}

div.header {
	z-index:400;
	width:47em;
	position:fixed;
	display:block;
	left:1em;
	top:0em;
    margin-left:0em;
	/* padding-left:.2em; */
    height:8em;
}

	#home_header {
        padding:0em;
		top:1em;
        left: 1em;
        right:1em;
        margin-left:0em;
        margin-right:32em;
        height: inherit;
/*        position:absolute;*/
        height:10em;
        min-width:30em;
	}
    
    #about_header {
        outline:inherit;
    }

div.assets {
	z-index:300;
	position:absolute;
	display:block;
	width:16em;
	height:auto;
	top:2em;
    left:1em;
    margin-top:30em;
	color: #808080;
    padding:0;
}

	#about_assets {
        position:absolute;
        left:2em;
        margin-top:10em;
        margin-left:64em;
        background-image:url(fill_50.png);
        outline:inherit;
	}
    
	#home_assets {
		position:absolute;
		top:1em;
		left:1em;
	}

	#inaudible_assets {
		width:60em;
	}
    
    #explainsreality .assets {
        margin-top: 10em;
    }

div.contextblok {
	position:fixed;
    top:1em;
    right:1em;
    margin-top:10em;
    margin-right:0em;
    width:14em;
    height:18em;
	z-index:300;
}

div.contextbalk
{
	z-index:300;
	position:absolute;
	top:2em;
    right:1em;
    margin-top:30em;
	display:block;
/*	height:86%; */
	width:14em;
	color: #808080;
    padding:1;
}

	#home .contextbalk {
		position:absolute;
		top:2em;
        margin-top:10em;
		right:1em;
        padding:0;
        width:16em;		
	}

/*    #werktiteltekst .contextbalk {
    top:2em;
    margin-top:10em;    
    } */

	#home_context_werk {
		position:absolute;
		top:0%;
    	left:0%;
        width:100%;
	}
	
    /*
    div.pagina {
	left:50%;
	top:14%;
	margin-left:-30em;
	padding:0em;
}

	#home_pagina {
		margin-left:-24em;
	}
    
    */
	#about_contextbalk {
		position:absolute;
		top:2em;
        left:3em;
        margin-top:10em;
		margin-left:80em;
        background-image:url(fill_50.png);
        outline:inherit;
	}
    
    div#benevenweg_contextbalk {
		width:29em;
	}     

div.photofooters {
	padding:0em;
	text-align:right;
	line-height:0;
	z-index:300;
	position:absolute;
	top:14%;
	left:50%;
	width:56em;
	margin-left:-28em;
    display.none;
}

	div.photofooter {
		position:static;
		height:auto;
        display:none;
	}

	.photofooter img {
		width:8em;
		height:8em;
		margin:1em;
		display:inline;
	}              

.navr div {
	width:10em;
}

div.request {
	background: url(10pikselverloop.png) repeat-x bottom left;
}

/* tekst p! blockquote! */


p {
	z-index:150;
	font-size: 10pt;
	width: 25em;
	padding: 0em 1em;
	margin: 1em 0em;
	text-align: left;
    line-height:140%;
	text-indent:-.5em;
}

	p.naarrechts {
		margin:0;
		padding:0;
		text-align:right;
	}

		.smal p, .assets p, .wat p, .waarom p, .contextbalk p {
			font-size: inherit;
			width:14em; /* inherit-1em zou moeten kunnen kankertaal! */
			text-align:left;
		}
        
        .assets dl p, .assets ol p, .assets ul p, .contextbalk dl p, .contextbalk ol p, .contextbalk ul p, .navl dl p, .navl ol p, .navl ul p {
            padding:0 !important;
            width: 10.5em !important;
        }

		.verborgen p {
			width:38em;
		}
		
		#home .pagina p {
			width:100%;
			text-align:inherit;
			color: #fe94be;
			padding:0;
		}    

blockquote {
	font-family: 'CharterBT', Georgia, serif;
	font-style: italic;
	font-size: 9pt;
	line-height: 140%;
    padding:0;
    margin:0;	
/*	width: 25em;
	padding: 1em 2em;
	margin-left:1em; */
/*    letter-spacing:-.3em;*/
    letter-spacing:-.08em;
}



.contextbalk blockquote, #tekstenuitleg blockquote, .contextblok blockquote {
	font-family: 'CharterBT', Georgia, serif;
	font-style: italic;
	font-size: 10pt;
	line-height: 14pt;
	color: #fd297e;
	text-indent: -.5em;
	padding: 0;
	font-weight:normal;
}
	#home_contextbalk blockquote {
		padding: 0;
		font-size: 9pt;
		font-style: normal;
	}

	#tekstenuitleg blockquote {
		color: black;
        letter-spacing: 0;
        line-height: 15pt;
	}

	#paradogma_contextbalk blockquote {
		color: #00ff00;
	}

	#benevenweg_contextbalk blockquote {
		color: #424242;
		font-family: helvetica, arial, geneva, sans-serif;
		font-style: normal;
		font-size: 12pt;
		line-height: 12pt;
	}
    
     #inaudiblemmviii .contextbalk blockquote {
        font-family: futura, sans-serif;
        font-style: normal;
     } 

.contextbalk blockquote.altlang, #tekstenuitleg_contextbalk blockquote.altlang {
	font-family: inherit;
	font-style: inherit;
	font-size: inherit;
	line-height: inherit;
	font-style: italic;
	color: #808080;
//	position: absolute;
    float: right;
	right: 0;
	margin-top: .5em;
	margin-right: .5em;
    padding-left:2em;
    margin-bottom:1.5em;
}

#tekstenuitleg .contextblok blockquote.altlang {
	color: #808080;
	font-style: italic;
	font-size: 9pt;
	line-height: 140%;
}

#tekstenuitleg .pagina blockquote.altlang {
    color: #369aff;
    margin-top:-82.5pt;
    font-size:9pt;
    margin-left:14pt;
}



/*headers*/

h1, h2, h3, h4, h5, h6 {
	margin: 0.3em 0em 0.2em 0em;
	font-weight: 400;
	font-family: 'CharterBT', Georgia, serif;
	color: #fd297e;
	width:auto;
    line-height: 140%;
    letter-spacing:-.08em;
    text-transform: lowercase;
}

#home h6 {
	color: black;
}

h1 {
	font-size: 36pt;
	line-height: 36pt;
	margin-top:0;
}

    #home .header h1, #home .header h2 {
        display:inline;
    }
    
	#benevenweg_header h1 {
		font-size: 24pt;
		line-height: 12pt;
		font-family: helvetica, arial, geneva, sans-serif;
		font-weight: bold;
		color: black; 
	}

	#explainsreality_header h1 {
		font-size: 24pt;
		line-height: 12pt;
		font-family: helvetica, arial, geneva, sans-serif;
		font-weight: bold;      
	}
    
    #inaudiblemmviii_header h1 {
        font-family: futura, sans-serif;
        font-weight: bold;
    }
    
         h1 span {	 
            font-family: helvetica, arial, geneva, sans-serif;
            font-size: 10pt;
            font-weight: normal;
            font-weight: inherit;
            color: #808080;
            position: absolute;
            bottom: 0;
            padding:0;
            right: 3.5em;
            letter-spacing:0em;
         }     

h2 {	
//	font-style: italic;
	font-size: 18pt;
	line-height: 18pt;
	text-transform: lowercase;
}

    #home .navr h2 {
        font-size: 16pt;
		line-height: 12pt;
        color: #fe94be;
    }
    
	#authoritism h2 {
	/*	line-height: 24pt;		*/
    font-style:italic;
	}

	#explainsreality_header h2 {
		font-size: 16pt;
		line-height: 12pt;
		font-family: helvetica, arial, geneva, sans-serif;
		font-weight: bold;
		font-style: normal;      
	}
	
	h2.iconic {
		margin-left: -.4em;
	}
    
        h2.iconic span {
            margin-left: -.2em;
        }

h3 {
	text-transform: lowercase;
//	font-style: italic;
	font-size: 12pt;
}

h4 {
	text-transform: uppercase;
	font-style: italic;
	border: .2em solid #fd297e;
	padding:0;
	font-size: 8pt
}

h5 {
	text-transform: lowercase;
	font-size: 10pt;
}

h5 {
    font-style: italic;
}

	#about_pagina h5 {
		max-width:100%;
		width:30em;
	}

	#benevenweg_pagina h5, #benevenweg_assets h5, #benevenweg_navl h5 {
		color: black;
		text-transform:none;
		font-size: 10pt;
	}

h6 {
	text-transform: lowercase;
	font-size: 8pt;
	font-style: italic;
}

	#nextwork h6, #previouswork h6 {
		font-family: helvetica, arial, geneva, sans-serif;
	}

#tekstenuitleg_header h1, #tekstenuitleg_header h2, #tekstenuitleg_header h3, #tekstenuitleg_header h4, #tekstenuitleg_header h5, #tekstenuitleg_header h6, #tekstenuitleg_pagina h5, #tekstenuitleg_contextbalk h5, #tekstenuitleg_navl h5, #tekstenuitleg .tooltip, #tekstenuitleg .imagetip {
	color: #369aff;
}

#paradogma_header h1, #paradogma_header h2, #paradogma_header h3, #paradogma_header h4, #paradogma_header h5, #paradogma_header h6, #paradogma_pagina h5, #paradogma_contextbalk h5, #paradogma_navl h5 {
	color: #00ff00;
}

/*lijstn*/

ul {
	list-style:none;
	margin:0;
	padding:1em;
}

li,dd,dt {
	margin:0;
	margin-bottom:0.5em;
}

	.geenmargin li, .geenmargin dd, .geenmargin dt {
		margin-bottom:0em;
	}
    
    #inaudible ul, li.wat, li.waarom {
		display:inline-block;
		vertical-align:top;
	} 

dl, ol {
	list-style:none;
	margin:0;
	padding:1em;
    padding-right:2.5em;
    width: 12.5em;
/*    outline: dashed #fe94be 1pt; */
}

    #about ol, #about dl {
        outline:inherit;
    }
    
    #home .pagina ol.tags {
        padding:1em;
        padding-right:1.5em;
        margin-left:0;
        margin-right:0;
        width:auto;
        line-height:24pt;
        color: #fac8dc;
    }
    
dt {
	padding-left:.7em;
	padding-right:.5em;
	padding-bottom:.2em;
}

dd, ol li {
	margin-left:.3em;
	padding-left:2.1em;
	padding-bottom:.8em;
}
   
    li.tag {
        padding-bottom:0em;
        display:inline;
        font-size:24pt;
        letter-spacing:150%;
        padding:0;
    }
    
    #home_context_werk dt {
        display:inline;
        width:9em;
    }
    
    #home_context_werk dd {
        display:list-item;
        width:9em;
    }
    
.assets dd {
	color: #fe94be;
	font-style: italic;
}

.structure dd {
    color: #fd297e;
}


	#about .assets dd {
		color: inherit;
		font-style: inherit;
	}
	
	#home .assets dd {
		color: inherit;
		font-style: inherit;
	}
	
	#home .assets dt {
	}
	
/*images */

img {
	display:block;
	/*width: 29em; */
	background-color:#fac8dc;
	background-image: url(fill_10_roze.png);
	margin:0em;
	padding:0em;
	border:0em;
}

a img {
	border:0em;
}

#home .pagina dl img {
    display: absolute;
}

.structure dd img {
    width:8em;
    height:5em;
}

img.square {
	height:75px;
	width:75px;
	border: 1px solid #fd297e;
}

img.icon {
	background-color:transparent;
	background-image:none;
	height:inherit;
	width:inherit;
	display:inline;
}

img.pict {
    background-color:transparent;
    background-image:none;
    margin-left:1em;
}

/*
img.zowiliknietsterven {
	background-color:transparent;
	background-image:none;
	width:100%;
	height:20px;
	clip: rect(0px, 0px, 20px, 1px);
}*/

#tekstenuitleg_pagina img {
	background-color:#ebf5ff;
	background-image: url(fill_10_blauw.png);
}

img.dubbel, img.onderdubbel:hover {
	filter:alpha(opacity=0);
	-khtml-opacity:0;
	-moz-opacity:0;
	opacity:0;
}

img.dubbel:hover {
	filter:alpha(opacity=100);
	-khtml-opacity:1;
	-moz-opacity:1;
	opacity:1;
}

/*links*/

.toggle, .toggle2 {
	cursor:pointer;
}

a {
	color: #fd297e;
	text-decoration: underline;
}

	#home #contextbalk dt a {
		color: black;
		text-decoration: none;
		border-bottom: 1pt solid #fd297e;
	}

/*	#home h2 a {
		color:#fe94be;
	}*/

	.structure a, .navr a, #home_abouteric a {
	    text-decoration:none;
	}

#benevenweg a {
	color: black;
	font-weight: bold;
}

#benevenweg a:hover {
	color: white;
	background-color: black;
}

.pagina h5 a {
	text-decoration:underline;
}

a:active {
	color: white;
	background-color:#fd297e;
}

:target {
	border: .1em dashed #fffb00;
}

/*transforms*/

.volledig {
    height:100%;
    width:100%;
}

.bovenaan {
    font-size:8pt;
    height:10em;
    vertical-align:bottom;
    padding:0;
    position:static;
    border-bottom: 1pt #fe94be dashed;
}

.smal {
	width:16em !important;
}

.mindersmal {
	width:20em;
}

.beperktinbreedte {
	width:29em;
}

.naarrechts {
	position: absolute;
	right:0;
	top:auto;
}

.zichtbaar {
	visibility:visible;
}

.onzichtbaar {
	visibility:hidden;
}

.highlight {
	background-color: #fffb00;
}

.xaxis {
	padding:1em;
}
/*
.assets a, .assets h2, .assets h3, .assets h4, .assets h5, .navr h3, .navr li h3, .navr a, .navr h4, .navr h5, .naarrechts a {
	color:#fe94be;
}

#home .navr a, #home .assets a, #home .assets h2, #home .assets h3, #home .assets h5 {
	color:#fd297e;
}
*/

#workinprogress h3, #workinprogress h4 {
	color:#fe94be;
}

#tekstenuitleg_navr .menuheader:hover, #tekstenuitleg_navl .menuheader:hover {
	color:white;
	background-color: #369aff;
}

#tekstenuitleg_assets a, #tekstenuitleg_assets h2, #tekstenuitleg_assets h3, #tekstenuitleg_assets h4, #tekstenuitleg_assets h5, #tekstenuitleg_navr a, #tekstenuitleg_navr h5, #tekstenuitleg_navl h5 {
	color:#9accff;
}

#tekstenuitleg .pagina a, #tekstenuitleg .navl a {
	color: #369aff;
}

#tekstenuitleg #pagina a:hover, #tekstenuitleg .navl a:hover, #tekstenuitleg .navr a:hover {
	color: white;
	background-color: #369aff;
}

a:hover {
	color: white;
	background-color:#fd297e;
}

/* nog wat meer ter zake doende kleuren. offwhite blauw: #fcfeff offblack blauw: 15293c 
cOO #a50011 */
/*
.tag {
    position: absolute;
    bottom: 0;
	filter:alpha(opacity=20);
	-khtml-opacity:.2;
	-moz-opacity:.2;
	opacity:.2;
    color:#fd297e;
}*/

/* --start css defines icons that identify entries-- */

	dd.performance, li.performance {
		background: url(http://www.ericschrijver.nl/assets/performance.png) no-repeat center left;
	}

	dd.screening, li.screening, dd.video {
		background: url(http://www.ericschrijver.nl/assets/screening.png) no-repeat center left;
	}

	dd.exhibition, li.exhibition {
		background: url(http://www.ericschrijver.nl/assets/exhibition.png) no-repeat center left;
	}

	dd.publication, li.publication {
		background: url(http://www.ericschrijver.nl/assets/publication.png) no-repeat center left;
	}

	dd.person, li.person {
		background: url(http://www.ericschrijver.nl/assets/person.png) no-repeat center left; 
	}

	dd.company, li.company {
		background: url(http://www.ericschrijver.nl/assets/company.png) no-repeat center left; 
	}

	dd.seriesofpictures, li.seriesofpictures {
		background: url(http://www.ericschrijver.nl/assets/seriesofpictures.png) no-repeat center left; 
	}

	dd.commodity, li.commodity {
		background: url(http://www.ericschrijver.nl/assets/euro.png) no-repeat center left; 
	}

	dd.applied, li.applied {
		background: url(http://www.ericschrijver.nl/assets/applied.png) no-repeat center left; 
	}

	dd.applied, li.applied {
		background: url(http://www.ericschrijver.nl/assets/applied.png) no-repeat center left; 
	}

	dd.project, li.project {
		background: url(http://www.ericschrijver.nl/assets/project.png) no-repeat center left; 
	}

	dd.piece, li.piece {
		background: url(http://www.ericschrijver.nl/assets/piece.png) no-repeat center left; 
	}
    
    dl.structure {
        background: url(http://www.ericschrijver.nl/assets/project.png) no-repeat top left;
    }

    dl.social {
        background: url(http://www.ericschrijver.nl/assets/person.png) no-repeat top left;
    }
    
    dl.events {
        background: url(http://www.ericschrijver.nl/assets/event.png) no-repeat top left;
    }
	
/* --stop css defines icons that identify entries-- */

/*
.event dd {
	background: url(http://www.ericschrijver.nl/assets/event.png) no-repeat top left;
}*/

/* --begin css oeuvre overzicht home page-- */    

#home .pagina dl {
    width: 50em;
    height: 100%;
    padding:0;
    margin-left:auto;
    margin-right:auto;
}
    
#home .pagina dt {
    z-index:500;
    padding: 1em;
    height: 8em;
    min-width:8em;
    /* outline: #fd297e dotted 1pt; */
    background-color:white;
    margin-bottom:0;
    overflow: hidden;
}

#home .pagina dt a, #home .pagina dd a {
    background-image: url(fill_90.png);
    /* outline: #fd297e dotted 1pt; */
    font-size:16pt;
    line-height:16pt;
    text-transform: lowercase;
    font-variant: small-caps;
    font-style: italic;
} 
    
#home .pagina dd {
        padding:1em;
        float: right;
        margin-left:0em;
        margin-top:-12em;
        width:14em;
        height:10em;
        /* outline: #fd297e dotted 1pt; */
        text-align: right;
/*
    color: white;
    padding: 1em 1em 1em 1.6em;
    height:1em;
    margin-top:-3em;
    margin-left:0;
    z-index:400;
    width:14em;*/
}

/*	#home .pagina dt.major {
        padding-top:1em;
		padding-bottom:5em;
        margin:0;
	}
	
	#home .pagina dt.minor, #home .pagina dt.applied {
        padding-top:1em;
		padding-bottom:1.6em;
        margin:0;
	}*/

    
    #home .pagina dt.major {
        margin-left:16em;
        margin-right:14em;
        height:20em;
        width:32em;
	}
    
    #home .pagina dd.project {
        float: left;
        height:20em;
        margin-top:-22em;        
    }

	#home .pagina dt.minor {
		margin-left:0em;
        height:10em;
        width:16em;
        left:0;
	}
    
    #home .pagina dd.piece {    
        text-align: right;
        margin-right:0em;
    }

	
	#home .pagina dt.applied {
		margin-left:48em;
        height:10em;
        width:16em;
	}
    
/*        #home .pagina .structure dd {
            padding-left:3em;
            height:2em;
            padding-top:2em;
            padding-bottom:0;
            color:#fd297e;
            width:145px;
            float: left;
            border-bottom: 2pt dotted #fd297e;
        } */
        
        #home .pagina .structure dd.project {
        
        }
        
        #home .pagina .structure dd.piece {
        
        }
        
        #home .pagina .structure dd.applied {
        
        }
        
        /*
        #home .pagina .structure dd h3 {
            display:inline;
        } */
    
/* --stop css oeuvre overzicht home page-- */

/* --start css bilingual captions for soundrecordings-- */

	.verborgen {
		line-height:12pt;
	}

	.verborgen dl, .verborgen dt, .verborgen dd, .verborgen p, .verborgen h5, .verborgen dt p, .verborgen dd p {
		margin:0;
        width:100%
	}

	.verborgen dt, .verborgen dd {
		padding:0;
	}

	.verborgen dd p {
		text-indent:0;
		font-style:italic;
		color: #369aff;
		margin-left:1em;
	}

/* --stop css bilingual captions for soundrecordings-- */
/*-- , dt.major, dt.minor, dt.applied */