body {
  font-family: helvetica, arial, sans-serif;
  background: #ccccc;
  line-height: 140%;
}

* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0px 0px 2px 16px;
}

#content p, #content h3, #content pre {
  width: 520px;
}



a, a:active, a.visited {
  color: #ff3b00;
  text-decoration:none;
}
/* alle links dezelfde kleur en geen streepje eronder */

a:hover {
  color: #950195;
}
/*een andere kleur als je eroverheen gaat met de muis */

pre {
  font-family: helvetica, arial, sans-serif;
}

li {
  list-style: none;
}
/* geen puntjes en nummertjes bij lijsten */


div#wrapper {
  width: 640px;
  margin: 128px;
}

div#header {
    margin: 24px 0px 32px 28px;
}

div#content {
  width: 640px;
  margin: 24px 0px 32px 32px;
}

div#content div.item {
  margin: 0 0 36px 0;
}

div#content h3 {
  margin: 0 0 6px 0;
}

div#content p {
  text-indent:16px;
}





/*preload classes*/
.svw {width: 50px; height: 20px; background: #fff;}
.svw ul {position: relative; left: -999em;}

/*core classes*/
.stripViewer { 
position: relative;
overflow: hidden; 
border: 5px solid #ff0000;  
margin: 0 0 1px 0;
}
.stripViewer ul { /* this is your UL of images */
margin: 0;
padding: 0;
position: relative;
left: 0;
top: 0;
width: 1%;
list-style-type: none;
}
.stripViewer ul li { 
float:left;
}
.stripTransmitter {
overflow: auto;
width: 1%;
}
.stripTransmitter ul {
margin: 0;
padding: 0;
position: relative;
list-style-type: none;
}
.stripTransmitter ul li{
width: 20px;
float:left;
margin: 0 1px 1px 0;
}
.stripTransmitter a{
font: bold 10px Verdana, Arial;
text-align: center;
line-height: 22px;
background: #ff0000;
color: #fff;
text-decoration: none;
display: block;
}
.stripTransmitter a:hover, a.current{
background: #fff;
color: #ff0000;
}

/*tooltips formatting*/
.tooltip
{
padding: 0.5em;
background: #fff;
color: #000;
border: 5px solid #dedede;
}